body {
    overflow-x: hidden;
}

.top-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/wallpaper.jpg');
    background-position: top center;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
}

.top-content {
    position: relative;
    height: 100vh;
    width: 100vw;
    color: #fff;
}

.top-content .center-content h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.top-content .center-content p {
    font-size: 1.5rem;
    text-align: center;
}

.top-content .center-content .btn-transparent {
    border: 1px solid #657887;
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
}

.top-content .center-content .btn-transparent:hover {
    background: #657887;
}

.navbar {
    z-index: 2;
    background: #314453;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar .navbar-brand:hover {
    opacity: 0.8;
}

.navbar .navbar-brand img {
    height: 35px;
}

.navbar .navbar-collapse {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover {
    opacity: 0.8;
}


.navbar-end .nav-link {
    font-size: 1rem !important;
    font-weight: bold;
    margin-right: 50px;
}

/* Modal */

.modal-header {
    border-bottom: 0 !important;
}

.modal-title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Form */

input {
    filter: none;
}

input {
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);
    width: 100%;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
    border-bottom: solid 1px #657887;
}

input:required {
    box-shadow: none;
}

input:invalid {
    box-shadow: none;
}

button[type="submit"] {
    width: 100%;
    margin-top: 10px;
    border: 0;
    background: linear-gradient(to right, #314453, #657887) repeat scroll 0% 0%;
    color: #fff;
    padding: 10px;
    border-radius: 0.25rem;
    font-weight: bold;
}

.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}


