h1 {
    font-size: 2rem;
    text-align: center;
}

/* Actuality */

.actuality {
    padding-top: 100px !important;
}

/* Feed */

#publication > div:nth-of-type(2) {
    text-align: right;
}

.publications .publication {
    padding: 10px;
    background: #fff;
    border-radius: .25rem;
    margin-bottom: 30px;
}

.publications .publication .publication-header {
    margin-bottom: 10px;
}

.publications .publication .publication-header a {
    text-decoration: none;
    color: #333333;
}

.publications .publication .publication-header a:hover {
    opacity: 0.8;
}

img.publication-profile-picture {
    border-radius: 50% !important;
}

.publication-content img {
    max-width: 100%;
    height: auto !important;
}

.publication-content .far, .publication-content .fas {
    cursor: pointer;
    color: #314453;
    font-size: 1.1rem;
}

.publication-content .reaction-qty {
    font-size: 0.8rem;
}

@media (max-width: 992px)
{
    .actuality {
        display: none;
    }
}