.profile {
    margin-top: 30px;
}

.profile-header {
    width: 100%;
    height: 200px;
    border-radius: .25rem .25rem 0 0;
    position: relative;
    background: #314453;
}

.profile-username {
    position: absolute;
    width: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 60px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}

.profile-avatar {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #333333;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 120px;
    cursor: pointer;
}

.profile-avatar-hover {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #333333;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 120px;
    cursor: pointer;
    background: #000;
    opacity: 0.5;
}

.cross {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 126px;
    cursor: pointer;
    color: #fff;
    font-size: 6rem;
}

.profile-body {
    width: 100%;
    height: 250px;
    background: #fff;
}